@import "./variables";

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	height: 100%;
}

div, ul, ol, li, img {
	padding: 0;
	margin: 0;
	border: 0;
}

ul, li {
	list-style-type: none;
}

.p0 {
	padding: $padding0;
}

.pt0 {
	padding-top: $paddingTop0!important;
}

.ptb0 {
	padding-bottom: $paddingBottom0;
}

.ptr0 {
	padding-right: $paddingRight0;
}

.ptl0 {
	padding-left: $paddingLeft0;
}

.pt20 {
    padding-top: $paddingTop20!important;
}

.mr0 {
	margin-right: $marginRight0!important;
}

.mr5 {
	margin-right: $marginRight5;
}

.mr10 {
	margin-right: $marginRight10;
}

.mr20 {
	margin-right: $marginRight20;
}

.mr30 {
	margin-right: $marginRight30;
}

.ml5 {
	margin-left: $marginLeft5;
}

.ml10 {
	margin-left: $marginLeft10;
}

.ml15 {
	margin-left: $marginLeft15;
}

.ml20 {
	margin-left: $marginLeft20;
}

.ml30 {
	margin-left: $marginLeft30;
}

.mt5 {
	margin-top: $marginTop5;
}

.mt10 {
	margin-top: $marginTop10;
}

.mt15 {
	margin-top: $marginTop15;
}

.mt20 {
	margin-top: $marginTop20;
}

.mb5 {
	margin-bottom: $marginBottom5;
}

.mb10 {
	margin-bottom: $marginBottom10;
}

.mb15 {
	margin-bottom: $marginBottom15;
}

.mb20 {
	margin-bottom: $marginBottom20;
}

.al {
	text-align: $textAlignLeft;
}

.ar {
	text-align: $textAlignRight;
}

.ac {
	text-align: $textAlignCenter;
}

.fr {
	float: $floatRight;
}

.fl {
	float: $floatLeft;
}

.clear {
	clear: both;
}

.bd0 {
    border: $border0;
}

.pd0 {
    padding: $padding0!important;
}

.vm {
	position: absolute;
	top: 50%;
	right: auto;
	transform: translateX(-50%) translateY(-50%);
}

.wat {
    width: $withAuto!important;
}

.inlineBlock {
	display: $inlineBlock;
}

/**
 * PageHome.vue样式开始
 */
.homeOuterContainer {
	height: 100%;
}
.homeAside {
	width: 200px!important;
	min-width: 200px!important;
	background: #29333D;
	position: relative;
	.homeAsideInner {
		position: relative;
		height: 100%;
		.el-menu {
			height: 100%;
		}
	}
}
.homeHeader {
	min-width: 1280px;
	height: 70px!important;
	line-height: 70px!important;
	text-align: left;
	position: relative;
	font-size: 14px;
	background: #29333D;
	background-image: -moz-linear-gradient(top, #29333D, #29333D); /* Firefox */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #29333D), color-stop(1, #29333D)); /* Saf4+, Chrome */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29333D', endColorstr='#29333D', GradientType='0'); /* IE*/
}
.homeMain {
	width: 100%;
	min-width: 1060px;
	overflow-y: scroll;
	position: relative;
	padding: 0!important;
	.homeMainInner {
		min-height: 100%;
		//position: absolute;
		//top: 50%;
		//left: 50%;
		//transform: translateX(-50%) translateY(-50%);
	}
	.homeMainFooter {
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 12px;
		background: #EEEEEE;
	}
}
/**
 * PageHome.vue样式结束
 */

.tip {
    color: $tip;
}

a.link:link,
a.link:visited,
a.link:hover {
    color: $link!important;
    text-decoration: none;
}


.dotY {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #36C9A9;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #16A085;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.dotYText {
    width: 26px;
    height: 50px;
    font-size: 13px;
    color: #16A085;
    margin-left: 3px;
}

.dotN {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #FFE1D6;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #F59A78;
}
.dotNText {
    width: 26px;
    height: 50px;
    font-size: 13px;
    color:rgba(242,120,75,1);
    margin-left: 3px;
}

.linkY {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../../assets/imgs/icon-linked.png) no-repeat;
}
.linkN {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../../assets/imgs/icon-not-linked.png) no-repeat;
}

/** checkbox样式 **/
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #EB0124!important;
    border-color: #EB0124!important;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #EB0124!important;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #EB0124!important;
}
.el-checkbox__inner:hover {
    border-color: #EB0124!important;
}
/** checkbox样式 **/

.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: #E96375!important;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    color: #E96375!important;
}


.tip-text {
    opacity: 0.8;
    filter: alpha(opacify=80);
    color: #E96373!important;
    font-style: normal;
}

.link-text, .link-text:active, .link-text:focus {
    text-decoration: none;
    color: #E96373!important;
    opacity: 0.8;
    filter: alpha(opacify=80);
    font-style: normal;
}
.link-text:hover {
    text-decoration: none;
    color: #E96373!important;
    opacity: 1.0;
    filter: alpha(opacify=100);
    font-style: normal;
}

/** 分页样式  **/
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #E96373;
    color: #fff!important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #E96373;
}

.v-contextmenu--default .v-contextmenu-item--hover {
    background-color: #E96373!important;
}


.el-select .el-input__inner:focus {
    border-color: #E96373!important;
}
.el-select .el-input.is-focus .el-input__inner {
    border-color: #E96373!important;
}

.el-select-dropdown__item.selected {
    color: #E96373!important;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #E96373!important;
}


.upload-demo {
    .el-upload {
        .el-upload-dragger:hover {
            border-color: #E96373!important;
        }
    }
    .el-upload-list__item.is-success .el-upload-list__item-name:focus,
    .el-upload-list__item.is-success .el-upload-list__item-name:hover {
        color: #E96373!important;
        cursor: pointer;
    }
}


/**
 * 通用按钮样式
 */
.createBtn, .createBtn:hover {
    font-size: $createBtnFontSize;
    color: $createBtnColor;
    background: $createBtnBg;
    -webkit-border-radius: $createBtnBorderRadius;
    -moz-border-radius: $createBtnBorderRadius;
    border-radius: $createBtnBorderRadius;
    border-color: $createBtnBorderColor;
}

.default-button {
    font-size: $font-size13!important;
    color: $default-font-color!important;
    background: $default-bg-color!important;
    -webkit-border-radius: $default-border-radius!important;
    -moz-border-radius: $default-border-radius!important;
    border-radius: $default-border-radius!important;
    border: $default-border-width $default-border-style $updateBtnBorderColor!important;
}
.default-button:hover {
    font-size: $font-size13-hover!important;
    color: $default-font-hover-color!important;
    background: $default-bg-hover-color!important;
    -webkit-border-radius: $default-border-hover-radius!important;
    -moz-border-radius: $default-border-hover-radius!important;
    border-radius: $default-border-hover-radius!important;
    border: $default-border-hover-width $default-border-hover-style $updateBtnHoverBorderColor!important;
    -webkit-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -moz-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -o-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
}
.default-button.is-disabled {
    color: $default-font-disabled-color!important;
    background-color: $default-bg-disabled-color!important;
    border-color: $default-border-disabled-color!important;
}

.info-button {
    font-size: $font-size13!important;
    color: $white-font-color!important;
    background: $info-bg-color!important;
    -webkit-border-radius: $info-border-radius!important;
    -moz-border-radius: $info-border-radius!important;
    border-radius: $info-border-radius!important;
    border: $info-border-width $info-border-style $info-border-color!important;
}
.info-button:hover {
    font-size: $font-size13-hover!important;
    color: $white-font-hover-color!important;
    background: $info-bg-hover-color!important;
    -webkit-border-radius: $info-border-hover-radius!important;
    -moz-border-radius: $info-border-hover-radius!important;
    border-radius: $info-border-hover-radius!important;
    border: $info-border-hover-width $info-border-hover-style $info-border-hover-color!important;
    -webkit-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -moz-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -o-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
}

.danger-button {
    font-size: $font-size13!important;
    color: $white-font-color!important;
    background: $danger-bg-color!important;
    -webkit-border-radius: $danger-border-radius!important;
    -moz-border-radius: $danger-border-radius!important;
    border-radius: $danger-border-radius!important;
    border: $danger-border-width $danger-border-style $danger-border-color!important;
}
.danger-button:hover {
    font-size: $font-size13-hover!important;
    color: $white-font-hover-color!important;
    background: $danger-bg-hover-color!important;
    -webkit-border-radius: $danger-border-hover-radius!important;
    -moz-border-radius: $danger-border-hover-radius!important;
    border-radius: $danger-border-hover-radius!important;
    border: $danger-border-hover-width $danger-border-hover-style $danger-border-hover-color!important;
    -webkit-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -moz-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -o-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
}
.danger-button.is-disabled {
    color: $danger-font-disabled-color!important;
    background-color: $danger-bg-disabled-color!important;
    border-color: $danger-border-disabled-color!important;
}

.primary-button {
    font-size: $font-size13!important;
    color: $primary-font-color!important;
    background: $primary-bg-color!important;
    -webkit-border-radius: $primary-border-radius!important;
    -moz-border-radius: $primary-border-radius!important;
    border-radius: $primary-border-radius!important;
    border: $primary-border-width $primary-border-style $primary-border-color!important;
}
.primary-button:hover {
    font-size: $font-size13-hover!important;
    color: $primary-font-hover-color!important;
    background: $primary-bg-hover-color!important;
    -webkit-border-radius: $primary-border-hover-radius!important;
    -moz-border-radius: $primary-border-hover-radius!important;
    border-radius: $primary-border-hover-radius!important;
    border: $primary-border-hover-width $primary-border-hover-style $primary-border-hover-color!important;
    -webkit-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -moz-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    -o-box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
    box-shadow: 0 0 23px 0 rgba(240,241,244,0.5) !important;
}
.primary-button.is-disabled {
    color: $primary-font-disabled-color!important;
    background-color: $primary-bg-disabled-color!important;
    border-color: $primary-border-disabled-color!important;
}
