@charset "UTF-8";
/**
 ＊公共样式变量(padding填充为0)
 */
$padding0: 0;
$paddingTop0: 0;
$paddingBottom0: 0;
$paddingRight0: 0;
$paddingLeft0: 0;
$paddingTop20: 20px;

/**
 * 公共样式变量(margin边界为0)
 */
$margin0: 0;
$marginTop0: 0;
$marginBottom0: 0;
$marginLeft0: 0;

$marginRight0: 0;
$marginRight5: 5px;
$marginRight10: 10px;
$marginRight20: 20px;
$marginRight30: 30px;

$marginLeft5: 5px;
$marginLeft10: 10px;
$marginLeft15: 15px;
$marginLeft20: 20px;
$marginLeft30: 30px;

$marginTop5: 5px;
$marginTop10: 10px;
$marginTop15: 15px;
$marginTop20: 20px;

$marginBottom5: 5px;
$marginBottom10: 10px;
$marginBottom15: 15px;
$marginBottom20: 20px;
/**
 * 公共样式变量(border为0)
 */
$border0: 0;
$borderTop0: 0;
$borderBottom0: 0;
$borderLeft0: 0;
$borderRight0: 0;

/**
 * 公共样式变量(对齐)
 */
$textAlignLeft: left;
$textAlignRight: right;
$textAlignCenter: center;
$floatRight: right;
$floatLeft: left;

/**
 * 公共样式变量
 */
$inlineBlock: inline-block;
$withAuto: auto;

/**
 * 首页公共样式变量
 */
$homeAsideBg: #141F2E;   //背景颜色(框架Aside背景)
$homeHeaderBg: #141F2E;  //背景颜色(框架Header背景)
$menuBgColor: #545c64;   //菜单item默认背景颜色


/**
 * 提示
 */
$tip: #ed5565;
/**
 * 超链接
 */
$link: #E96373;

$default-color: #f56c6c;

/**
 * 通用按钮样式
 */

/** 开始 **/
$createBtnFontSize: 13px;
$createBtnColor: #FFF;
$createBtnBg: #E96373;
$createBtnBorderRadius: 2px;
$createBtnBorderColor: #E96373;
/** 结束 **/


/** 开始 **/
$updateBtnFontSize: 13px;
$updateBtnColor: #86939E;
$updateBtnBg: rgba(246,248,249,1);
$updateBtnBorderRadius: 2px;
$updateBtnBorderWidth: 1px;
$updateBtnBorderStyle: solid;
$updateBtnBorderColor: rgba(210, 214, 222, 1);


$updateBtnHoverFontSize: 13px;
$updateBtnHoverColor: #f56c6c;
$updateBtnHoverBg: #fef0f0;
$updateBtnHoverBorderRadius: 2px;
$updateBtnHoverBorderWidth: 1px;
$updateBtnHoverBorderStyle: solid;
$updateBtnHoverBorderColor: #fbc4c4;
/** 结束 **/

/** 通用按钮字体颜色设置开始 **/
$white-font-color: #fff;
$white-font-hover-color: #fff;
$default-font-color: #86939E;
$default-font-hover-color: #f56c6c;
$default-font-disabled-color: #bcbec2;
$danger-font-disabled-color: #fff;
$primary-font-color: #f56c6c;
$primary-font-hover-color: #fff;
$primary-font-disabled-color: #f9a7a7;
/** 通用按钮字体颜色设置结束 **/

/** 通用按钮字体大小设置开始 **/
$font-size13: 13px;
$font-size13-hover: 13px;
/** 通用按钮字体大小设置结束 **/

/** 通用按钮背景颜色设置开始 **/
$danger-bg-color: #f56c6c;
$danger-bg-hover-color: #f78989;
$info-bg-color: #f4f4f5;
$info-bg-hover-color: #909399;
$default-bg-color: #F6F8F9;
$default-bg-hover-color: #fef0f0;
$default-bg-disabled-color: #f4f4f5;
$primary-bg-color: #fef0f0;
$primary-bg-hover-color: #f56c6c;
$primary-bg-disabled-color: #fef0f0;
$danger-bg-disabled-color: #fab6b6;
/** 通用按钮字体背景颜色设置结束 **/

/** 通用按钮边框颜色设置开始 **/
$danger-border-color: #f56c6c;
$danger-border-hover-color: #f78989;
$info-border-color: #d3d4d6;
$info-border-hover-color: #909399;
$default-border-color: #D2D6DE;
$default-border-hover-color: #fbc4c4;
$default-border-disabled-color: #e9e9eb;
$primary-border-color: #FBC4C5;
$primary-border-hover-color: #f56c6c;
$primary-border-disabled-color: #fde2e2;
$danger-border-disabled-color: #fab6b6;
/** 通用按钮边框颜色设置结束 **/

/** 通用按钮边框宽度设置开始 **/
$danger-border-width: 1px;
$danger-border-hover-width: 1px;
$info-border-width: 1px;
$info-border-hover-width: 1px;
$default-border-width: 1px;
$default-border-hover-width: 1px;
$primary-border-width: 1px;
$primary-border-hover-width: 1px;
/** 通用按钮边框宽度设置结束 **/

/** 通用按钮边框样式设置开始 **/
$danger-border-style: solid;
$danger-border-hover-style: solid;
$info-border-style: solid;
$info-border-hover-style: solid;
$default-border-style: solid;
$default-border-hover-style: solid;
$primary-border-style: solid;
$primary-border-hover-style: solid;
/** 通用按钮边框样式设置结束 **/

/** 通用按钮边框圆角大小设置开始 **/
$danger-border-radius: 2px;
$danger-border-hover-radius: 2px;
$info-border-radius: 2px;
$info-border-hover-radius: 2px;
$default-border-radius: 2px;
$default-border-hover-radius: 2px;
$primary-border-radius: 2px;
$primary-border-hover-radius: 2px;
/** 通用按钮边框圆角大小设置结束 **/
